*.d
*.o
*.map
*.lst
*.workspace

.vscode

# Proteus
sim/Project Backups

# STM32
src/thd.stm32/build

# WaveViewer
src/thd.wave_viewer/.vs
src/thd.wave_viewer/WaveViewer/bin
src/thd.wave_viewer/WaveViewer/obj
